/* Start Navbar */
.nav-style {
  background-color: #ffffff;
}

.nav-style h2 {
  margin-top: 20px;
}

.nav-style p {
  margin-bottom: 30px;
}

.nav-style img {
  width: 40px;
}

.nav-style .nav-link {
  color: #ffffff;
}

.slider-div {
  padding: 0;
}

.navbar {
  justify-content: space-between;
  align-items: center;
}

.navbar-nav .nav-item .nav-link {
  color: black;
}

/* Start Navbar */
